<!-- components/header.html -->
<header class="header">
  <h2 class="header-title" id="page-title">Default Title</h2>
  <nav class="nav-simple">
    <ul id="nav-list">
      <li><a href="../../index.html"> 🏠Home</a></li>
      <li><a href="../books/books.html" data-page="books">📚 Books</a></li>
      <li><a href="../anime/anime.html" data-page="anime">📺 Anime & Manga</a></li>
      <li><a href="../projects/projects.html" data-page="projects">🔧 Projects</a></li>
      <li><a href="../extras/extras.html" data-page="extras">✨ Extras</a></li>
    </ul>
  </nav>
</header>