body {
  background-color: #FAF1DC;
  /* Light beige background */
  color: #333;
  /* Dark gray text */
    font-family: "Kalam";
  padding-bottom: 0px;
  padding-right:0px;
  margin-right:0px;
  padding-left:0px;
  margin-left:0px;
}
